.rodape {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background: var(--roxo);
    padding: 1.5rem 0;
    box-shadow: 0 -10px 9.5px var(--preto-25-opacidade);
}

.rodape__logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.rodape__imagem {
    width: 8.62rem;
    height: 3.5rem;
}

.rodape__titulo{
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-fonte-24px);
    font-weight: var(--espessura-fonte-regular);
    color: var(--branco);
}

.rodape__dev{
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-16px);
    font-weight: var(--espessura-fonte-regular);
    color: var(--branco);
}

.rodape__empresa{
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-16px);
    font-weight: var(--espessura-fonte-extralight);
    color: var(--branco);
}