@import url("./header.css");
@import url("./main.css");
@import url("./list-products.css");
@import url("./card.css");
@import url("./add-product.css");
@import url("./footer.css");

:root {
  --fonte-principal: "IBM Plex Mono", sans-serif;
  --fonte-titulo: "Press Start 2P";

  --tamanho-fonte-15px: .93rem;
  --tamanho-fonte-16px: 1rem;
  --tamanho-fonte-20px: 1.25rem;
  --tamanho-fonte-24px: 1.5rem;

  --espessura-fonte-extralight: 200;
  --espessura-fonte-regular: 400;
  --espessura-fonte-medium: 400;
  --espessura-fonte-semibold: 600;
  --espessura-fonte-bold: 700;

  --azul: #03318c;
  --roxo: #5300c8;
  --rosa-cardial: #8C0375;
  --preto: #000000;
  --preto-25-opacidade: rgba(0,0,0,.25);
  --branco: #ffffff;
}

body {
  font-family: var(--fonte-principal);
  font-size: var(--tamanho-fonte-16px);
}